* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #0c0c1c;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  background-image: url(../assets/images/main_bg_pc.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  font-size: 62.5%;
  background-color: rgb(33 37 42);
}
